body{
  font-family: "Sedan SC", serif;
  background-color: white;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  overflow: hidden;
}

img {
   border: 5px black solid;
    width: 160px;
    padding: 10px;
    margin: 0 10px;
}

#result{
      font-size: 36px;
      margin-top: 20px;
  }

#score{
      font-size: 24px;
      margin-top: 20px;
  }

#computerChoice{
      font-size: 18px;
      margin-top: 10px;
  }

.image-container {
      height: 180px;
      justify-content: center;
      margin-top: 30px;
  }
  .image-container img {
      cursor: pointer;
      vertical-align:middle;
      transition: width 0.1s, padding 0.1s;
  }
  .image-container img:hover {
    cursor: pointer;
    width:180px;
    padding:0px;

  }
  .image-container img:active {
    width:140px;
    padding:20px;
}

#reset {
  font-family: "Sedan SC", serif;
  background-color: white;
  margin: 10px;
  height:50px;
  width:200px;
  font-size: 24px;
  cursor: pointer;
  transition: font-size 0.1s;
}

#reset:hover {
  font-size:28px;
}

#reset:active {
  font-size:20px;
}